body{
    background-color: blue;
}
.richardjohngrayson{
    background-color: darkorange;
}
.jasonpetertodd{
    background-color: crimson;
}
.timothyjaksondrake{
    background-color: chartreuse;
}
.damianwayne{
    background-color: darkgoldenrod;
}
.stephaniebrown{
    background-color: blueviolet;
}